//==================
//COLORS
//==================


//General Colors
$white-primary-color: #ececec;
$blue-primary-color: #0084ff;

//Button Colors
$blue-btn-hover-color: #0044ff;
$blue-btn-active-color: #0000ff;

//Search Colors
$blue-search-hover-color: #74cae7;

//Logo Colors

$grey-logo-color: #979797;

//Navbar Colors
$blue-navbar: #026aa7;

//==================
//MARGINS
//==================

$sm-margin: 10px;
