$blue-navbar: #026aa7;
$white-primary-color: #ececec;
.navbar {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    align-items: center;
    height: 40px;
    background: $blue-navbar;
    position: relative;
    /*Board Button*/
    * {
        height: 100%;
    }
    .board-btn {
        display: inline;
        padding: 5px;
        margin-right: 10px;
        * {
            display: inline;
        }
        .board-text {
            font-weight: bold;
        }
    }
    /*Search Bar*/
    .search-wrapper {
        position: relative;
        margin-right: 10px;
        .search-box {
            width: 200px;
            &:focus {
                width: 300px;
                background: $white-primary-color;
                &~* {
                    display: none;
                }
            }
        }
        .search-btn {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
        }
    } //Navbar Logo
    .logo {
        margin-left: auto;
    } //Right Group Buttons
    .btn-right-group-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        margin-left: auto;
    }
}

@media (max-width: 760px) {
    .board-btn {
        position: static;
        .board-text {
            display: none;
        }
    }
    .search-wrapper {
        margin-left: 30px;
        .search-box {
            display: none;
        }
        .search-btn {
            position: static;
        }
    }
    .btn-right-group-container {
        padding: 0 20px;
        .info-btn {
            display: none;
        }
    }
}