
@import 'base';
.navbar {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    align-items: center;
    height: 40px;
    background: $blue-navbar;
    position: relative;
    /*Board Button*/
    & > * {
        height: 100%;
    }
    .board-btn {
        display: inline;
        padding: 5px;
        margin-right: $sm-margin;
        @include device-sm-and-md {
            position: static;
        }
        * {
            display: inline;
        }
        .board-text {
            font-weight: bold;
            @include device-sm-and-md {
                display: none;
            }
        }
    }
    /*Search Bar*/
    .search-wrapper {
        position: relative;
        margin-right: $sm-margin;
        @include device-sm-and-md {
            margin-left: 30px;
        }
        .search-box {
            width: 200px;
            height: 100%;
            @include device-sm-and-md {
                display: none;
            }
            &:focus {
                width: 300px;
                background: $white-primary-color;
                &~* {
                    display: none;
                }
            }
        }
        .search-btn {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            @include device-sm-and-md {
                display: static;
            }
        }
    } //Navbar Logo
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-40%);
        z-index: 1;
        @include device-sm-and-md {
            display: block;
            position: static;
            transform: translateY(0);
            margin-left: auto;
        }
    } //Right Group Buttons
    .btn-right-group-container {
        display: inline-flex;
        margin-left: auto;
        &>* {
            margin-right: $sm-margin;
        }
        &>*:last-child {
            margin-right: 0;
        }
    }
    .info-btn {
        @include device-sm-and-md {
            display: none;
        }
    }
}

//Navbar Ends
//Boards Start
main {
    .boards {
        &-container {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            margin: 0 16px;
        }
        &__grey-icon,
        &__gray-icon {}
        &__section-title {
            font-weight: bold;
        }
        &__grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            grid-auto-rows: 1fr;
            grid-column-gap: 8px;
            grid-row-gap: 16px;
            justify-content: start;
            align-items: center;
            @include device-sm-and-md {
                grid-template-columns: 1fr;
            }
        }
    }
    .board-tile {
        position: relative;
        &-primary {
            width: 100%;
            &:not(:hover) {
                .board-tile__star--appear {
                    display: none;
                }
            }
        }
        &__star {
            position: relative;
            z-index: 2;
        }
        &__rect-wrapper-sm {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 20px;
            margin: 3px 5px;
        }
        &__name {
            cursor: default;
            font-size: 20px;
            font-weight: bold;
            color: $white-primary-color;
        }
        &__link {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
    }
}