@import 'base';
* {
    box-sizing: border-box;
    font: 1em/1.5 sans-serif;
}


.logo > a {
    text-decoration: none; /* no underline */
    color: $grey-logo-color;
    font-size: 2.2em;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Dancing Script', cursive;
    &:hover {
        color: $white-primary-color;
    }
}



.pointer {
    cursor: pointer;
}

//Font Awsome Styles
.fa-star {
    color: white;
    width: 100%;
}