.navbar {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  align-items: center;
  height: 40px;
  background: #026aa7;
  position: relative;
  /*Board Button*/
  /*Search Bar*/ }
  .navbar * {
    height: 100%; }
  .navbar .board-btn {
    display: inline;
    padding: 5px;
    margin-right: 10px; }
    .navbar .board-btn * {
      display: inline; }
    .navbar .board-btn .board-text {
      font-weight: bold; }
  .navbar .search-wrapper {
    position: relative;
    margin-right: 10px; }
    .navbar .search-wrapper .search-box {
      width: 200px; }
      .navbar .search-wrapper .search-box:focus {
        width: 300px;
        background: #ececec; }
        .navbar .search-wrapper .search-box:focus ~ * {
          display: none; }
    .navbar .search-wrapper .search-btn {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0; }
  .navbar .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-40%);
    z-index: 1; }
  .navbar .btn-right-group-container {
    display: inline-flex;
    margin-left: auto; }
    .navbar .btn-right-group-container > * {
      margin-right: 10px; }
    .navbar .btn-right-group-container > *:last-child {
      margin-right: 0; }

main .boards-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin: 0 16px; }

main .boards__section-title {
  font-weight: bold; }

main .boards__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 16px;
  justify-content: start;
  align-items: center; }

main .board-tile {
  position: relative; }
  main .board-tile-primary:not(:hover) .board-tile__star--appear {
    display: none; }
  main .board-tile__star {
    position: relative;
    z-index: 2; }
  main .board-tile__rect-wrapper-sm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    margin: 3px 5px; }
  main .board-tile__name {
    cursor: default;
    font-size: 20px;
    font-weight: bold;
    color: #ececec; }
  main .board-tile__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; }

@media only screen and (max-width: 650px) {
  .navbar .board-btn {
    position: static; }
    .navbar .board-btn .board-text {
      display: none; }
  .navbar .search-wrapper {
    margin-left: 30px; }
    .navbar .search-wrapper .search-box {
      display: none; }
  .navbar .search-btn {
    position: static; }
  .navbar .logo {
    display: block;
    position: static;
    transform: translateY(0);
    margin-left: auto; }
  .navbar .btn-right-group-container {
    margin-left: auto; }
    .navbar .btn-right-group-container .info-btn {
      display: none; }
  main .boards__grid {
    grid-template-columns: 1fr; }
  main .board-tile-primary {
    width: 100%; } }
